@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

/* colors */
/* white */
.white {
	color: rgb(255, 255, 255);
} 

.whiteBG {
	background-color: rgb(255, 255, 255);
}

/* teal */
.teal {
	color: rgb(35, 174, 194);
} 

.tealBG {
	background-color: rgb(35, 174, 194);
}

/* paddings */
.paddingTop1em {
	padding-top: 1em;
}

.paddingBottom2em {
	padding-bottom: 2em;
}

/* margins */
.bottomMarginPoint5em {
	margin-bottom: 0.5em;
}

/* should be set to the same margin width as the grid gutter, in vw units */
.bottomMarginGutterWidth {
	margin-bottom: 1.6vw;
}

.leftRightMargin10em {
	margin-left: 10em;
	margin-right: 10em;
}

/* div sizes */
/* 95% of a full viewport height */
/* exactly fills the vertical height on common browsers */
.heightFull {
	width: 100%;
	min-height: 93vh;
}

/* 30% of a full viewport height */
.height30 {
	width: 100%;
	min-height: 30vh;
}

/* div behaviors */
/* gallery box transition rules */
.box {
	-webkit-transition: transform 0.5s ease-out;
	transition: transform 0.25s ease-out;
}

/* gallery box hover behavior */
.box:hover {
	z-index: 999;
	transform: scale(1.1, 1.1);
	-webkit-filter: drop-shadow(0 0.4em 0.4em rgba(0,0,0,0.2));
	filter: drop-shadow(0 0.4em 0.4em rgba(0,0,0,0.2));
}

/* makes a background image for a box */
.imgFitBox {
	background-repeat: no-repeat;
	background-size: contain;
}

/* drop shadows */
.shadowHeight1 {
-webkit-filter: drop-shadow(0 0.2em 0.2em rgba(0,0,0,0.2));
	filter: drop-shadow(0 0.2em 0.2em rgba(0,0,0,0.2));
}

/* specific element rules */
.title {
	position: absolute;
	left: 0;
	bottom: 14vh;
}

.ella {
	background-image: url(../img/gallery/ella/thumbnail.png);
}

.kojiro {
	background-image: url(../img/gallery/kojiro/thumbnail.png);
}

.trello {
	background-image: url(../img/gallery/trello/thumbnail.png);
}

.playboy {
	background-image: url(../img/gallery/playboy/thumbnail.png);
}

.enterprise {
	background-image: url(../img/gallery/enterprise/thumbnail.png);
}

.chirpr {
	background-image: url(../img/gallery/chirpr/thumbnail.png);
}

/* take up full width of container if using mobile viewport */
@media only screen and (max-width: 550px) {
	.bottomMarginGutterWidth {
	margin-bottom: 1em;
}
	.leftRightMargin10em {
	margin-left: 2em;
	margin-right: 2em;
}
}