@charset "UTF-8";
/* CSS Document */

p {
	font-family: 'Lato', sans-serif;
	margin-bottom: 1em;
}

/* headers */
h1 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 4em;
	line-height: 1.4em;
}

h2 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
}

h3 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 2em;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}

h5 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 1.9em;
	line-height: 1.6em;
}

h6 {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	/* line-height: 1.4em; */
	font-weight: lighter;
}

/* text rules */
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.topIsFlush {
	line-height: 0.65em;
}


