@charset "UTF-8";
/* CSS Document */

p {
	font-family: 'Lato', sans-serif;
	margin-bottom: 1em;
}

/* headers */
h1 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 4em;
}

h2 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
}

h3 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 2em;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
}

/* text rules */
.bold {
	font-weight: bold;
}

.textCenter {
	text-align: center;
}

