@charset "UTF-8";
/* CSS Document */

body {
	background-color: #0984DB;
	padding: 0;
	margin: 0;
}

/* Colors */

.colorChocolate {
	background-color: chocolate;
}

.colorBisque {
	background-color: bisque;
}

.colorFirebrick {
	background-color: firebrick;
}

/* Containers */

.fullViewport {
	width: 100vw;
	height: 100vh;
}

.heightFull {
	height: 100vh;
}

/* Positioning */

.fixed {
	position: fixed;
}

.absoluteCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.absoluteLeftMiddle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

